body {
    background-color: #010001;
    font-family: 'Fredoka', sans-serif;
}

.estilo1 {
    background-color: #68A357;
}

#miFoto {
    border-radius: 50%;
    height: 15.62em;
    margin: 2.5em auto;
}

#portfolio img {
    border-radius: 1.5em;
    border: 0.25em solid #68A357;
    width: 100%;
    transition: border 0.2s;
}
#portfolio img:hover{
    border-color: black;
}

footer i {
    font-size: 2rem;
    transition: filter 0.2s;
}
footer i:hover{
    filter: brightness(0);
}

.oculto{
    display: none;
}

.error{
    border: 0.15em solid red;
}
