body {
    background-color: #010001;
    font-family: 'Fredoka', sans-serif;
}

header h1 {
    letter-spacing: 3px;
}

.estilo1 {
    background-color: #68A357;
    padding: 40px;
}

#miFoto {
    border-radius: 50%;
    height: 250px;
    margin: 40px auto;
}

#portfolio img {
    border-radius: 15px;
    border: 3px solid #68A357;
    margin: 10px auto;
    width: 100%;
}

#portfolio {
    padding: 30px;
}

footer i {
    font-size: 2rem;
}
footer i:hover{
    filter: brightness(0);
}

.oculto{
    display: none;
}

.error{
    border: 2px solid red;

